*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
}
.header .container{
    width: 100%;
    max-width: 100%;
    padding: 8px 40px 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.nav-bar img{
    width: 100%;
    max-width: 180px;
}
.nav-menu{
    display: flex;

}
.nav-menu ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}
.nav-menu li a{
    color: #ffff;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-decoration: none;
    margin: 0 20px;
}
.nav-menu li a:hover{
    border-bottom: 1px solid wheat;
}
.nav-menu img{
   width: 20px;
   margin: 0 20px;
}
.nav-menu ul li:first-child a{
  margin: 0;
}
.nav-menu ul li:last-child a{
  margin: 0;
}
.phn-num{
    color: #ffffff;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-decoration: none;
 
}
.contact {
    display: flex;
    align-items: center;
    gap: 10px;
}
.phn-num h5{
    font-family: 'Inclusive Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1;
}
.phn-num a{
    display: block;
    color: #e09f9f;
    text-decoration: none;
}
.banner-sec{
    background: url(./bnr.jpg);
    background-position: 90% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 260px 0 270px 0;
    
}
.banner-sec .container{
    width: 100%;
    max-width: 100%;
}
.banner-title{
    text-align: center;
    width: 60%;
    left: 0;

}
.banner-title h2{
    color: #ffffff;
    font-size: 66px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    text-shadow: 2px 2px #000;
    margin-bottom: 20px;
}
.banner-title strong{
    color: #974b4b;
    font-size: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-style: italic;
    text-shadow: 2px 2px #ffff;   
}
.cmn-btn a{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Inclusive Sans', sans-serif;
    font-weight: 300;
    background-color: #f68140;
    padding: 20px 40px;
    border: none;
    border-radius: 30px;
    text-decoration:none ;
    display: inline-block;
    
}
.cmn-btn a:hover{
    background-color: #094b8a;
}
.icons-3 .container {
    max-width: 100%;
    width: 100%;
    padding: 0.5px 0;
}
.icon{
    width: 33.3%;
    padding: 25px 0 35px;
    text-align: center;
    background-color: rgb(102 115 121 / 60%);
}

.flg-icon {
    display: flex;
    justify-content: space-between;

}
.icon img{
    width: 100%;
    max-width: 16%;
    margin-bottom: 20px;
}
.icon h6{
    color: #094b8a;
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-transform: capitalize;

}
.service{
    display:flex ;
    justify-content:space-between ;
    align-items: center;
    text-align: start;
    padding: 90px 0;
}
.service-left{
    width: 45%;
    max-width: 450px;
}
.services-sec .container{
    max-width: 1200px;
}
.service-left img{
    width: 100%;
}
.service-right{
    width: 45%;


}
.service-right h4{
    color: #1f3863;
    font-size: 49px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-bottom: 20px;

}
.service-right strong{
    color: #1f3863;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}

.service-right p{
    color: #565b63;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
  
}
.service-right h5{
    color: #8f4e4e;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    margin-bottom: 30px;
}

.empower-sec{
    padding: 100px 0;
    background-color: #eff1f5;
}
.empower-sec .container{
    width: 100%;
    max-width: 1640px;
    margin: 0 0 0 auto;
}
.empower-title{
    text-align: center;
}
.empower-title h3{
    color: #1f3863;
    font-size: 47px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 45px;
}
.empower-title strong{
    font-weight: 600;
}

.empower-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.empower-left{
    width: 38%;
}
.em-icon img{
    max-width: 40px;
}
.empower-line {
    border-bottom: 1px solid black;
}
.empower-line{
    display: flex;
    gap: 16px;
    padding: 15px;
    align-items: start;
}
.empower-line:hover{
    background-color: #ffff;
}

.empower-line h5{
    
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    letter-spacing: 1;
    margin: 0 0 5px 0;
}
.empower-line p{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.embark-right{
    width: 40%;
    right: 0;
}
.embark-right img{
    width: 100%; 
    border:10px solid rgb(117, 168, 216) ;
    border-radius: 10px;
    border-right: none;  
}
.embark a{
    margin-top: 30px;
}
.check-in-sec {
    padding: 60px 0;
    margin: 20px;
}
.check-in-sec .container{
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}
.check-in-sec h3{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    color: #094b8a;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.check-in-sec strong{
    color: #f68140;
    font-size: 40px;
}
.check-in-box{
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 40px;
}
.c-box2 img{
    width: 100%;
    max-width: 7%;  
}
.c-box1 strong{
    color: #094b8a;
}
.c-box3 strong{
    color: #094b8a;

}
.c-box2{
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 78, 156);
    max-width: 33.33%;
    color: #f68140 ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 7px;  
    border: 5px solid #1A4E9C;   
}

.c-box1 {
    width: 33.33%;  
}
.c-box1 p{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
    border: 3px solid #eff1f4;
    border-right: none;
    border-radius: 5px;
    padding: 20px 0 20px 0;
    
}
.c-box1 p:nth-child(even){
    background-color: #eff1f4;
}
.c-box1 p:nth-child(odd){
    background-color: #ffff;
}
.c-box3 p:nth-child(odd){
    background-color:white;
}
.c-box3 p:nth-child(even){
   background-color: #eff1f4;
}
.c-box3{
    display: flex;
    flex-direction: column;
    width: 33.33%;   
}

.c-box3 p{
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    text-transform: capitalize;
    border: 3px solid #eff1f4;
    border-left: none;
    border-radius: 5px;
    padding: 20px 0 20px 0;

}
.c-box3 p img{
     width: 100%;
    max-width: 2%;
    padding: 0 0 0 0;
}
.check-in-box strong{
    font-size: 20px ;
    font-weight: 700;
    letter-spacing: 1px;
}
.wht{
    background-color: #ffffff;
}
.tick-check{
    border-bottom: 1px solid white;
    line-height: 2;
   text-align: center;
   padding: 10px 0 10px 0;   
}
.check-btn{
    text-align: center;
}
.steps-sec{
    background-color: #eff1f4;
    padding: 100px 0;
}
.steps-heading {
    text-align: center;
}
.steps-heading h4{
    color: #1f3863;
    font-size: 47px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 45px;
}
.steps-heading strong{
    color: #1f3863;
    font-size: 47px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.step-card{
    width: 32%;
    background-color:#ffff;
    padding: 45px 40px 64px 45px;
    border-radius: 12px;
    box-shadow: 3px 3px rgb(94, 128, 190);  
}
.steps-sec .container{
    max-width: 1320px;
}
.step-card:hover{
    background-color: #1760a0;
    color: #ffffff;
}
.step-card h5:hover{
    color: #ffffff;
}
.step-card p:hover{
    color: #ffffff;
}

.step-card-sec{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
}
.step-card img{
    margin-bottom: 20px;
}
.step-card h5{
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    color: #1f3863;
    margin-bottom: 26px;
    text-transform: capitalize;

}
.step-card p{
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1;
    color: #0f2242;
    text-transform: capitalize;
}